* {
  // cursor: none;
}

.inner_cursor {
  position: fixed;
  left: 15px;
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width .6s, height .6s;
  z-index: 10001;
  &.grow {
    width: 30px;
    height: 30px;
    transition: width .6s, height .6s;
  }
}

.outor_cursor {
  position: fixed;
  left: 15px;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  z-index: 10001;
}