.parallax-js-content {
  position: absolute;
  inset: 0 0 0 0;
  z-index: 12;

  >* {
    position: absolute;
    object-fit: cover;
  }

  .--i-1 {
    top: 32% !important;
    left: 13.3% !important;
    width: 113px;
    height: 90px;
  }

  .--i-2 {
    top: 28% !important;
    left: 60%!important;
    width: 122px;
    height: 121px;
  }

  .--i-3 {
    top: 8% !important;
    left: 60.6% !important;
    width: 189px;
    height: 115px;
  }

  .--i-4 {
    top: 45.5% !important;
    left: 76% !important;
    width: 40px;
    height: 92px;
  }

  .--i-5 {
    top: 61% !important;
    left: 28% !important;
    width: 119px;
    height: 109px;
  }
}

@media (max-width: 670px) {
  .parallax-js-content {
    .--i-1 {
      top: 10% !important;
      left: 0 !important;
    }
    .--i-3 {
      left: 70% !important;
    }
    .--i-4 {
      top: 55% !important;
      left: 90% !important;
    }
    .--i-5 {
      left: 15% !important;
    }
  }
}