.socialbar {
  position: relative;
  padding-top: 20px;
  background-color: var( --color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  &__link {
    max-width: fit-content;
    display: block;
    img,
    svg {
      width: 35px;
      font-size: 35px;
    }
  }
}