.catallog {
  background-color: var(--color-7);
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__content {
    padding: 50px 0 50px 0;
    width: 100%;
    display: grid;
    min-height: 100vh;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(340px, auto));
    gap: 60px;
  }
}

@media (max-width: 780px) {
  .catallog__content {
    gap: 30px;
  }
}

@media (max-width: 420px) {
  .catallog__content {
    grid-template-columns: repeat(auto-fill, minmax(280px, auto));
  }
  .catallog {
    &__container {
      padding: 0 15px !important;
    }
  }
}