.catallog {
  background-color: var(--color-7);
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__content {
    padding: 50px 0 50px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 1100px;
    &:last-child {
      display: block;
      padding: 0 0 50px 0;
    }
  }
}

@media (max-width: 900px) {
  .catallog__content {
    grid-template-columns: repeat(1, 1fr);
  }
}