.demoThree {
  background-color: var(--color-10);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-7);
    z-index: 10;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-3);
    z-index: 9;
  }
  &.font * {
    font-family: Pacifico;
  }

  &__container {
    position: relative;
  }

  &__content {
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

.content {
  padding: 20px 0;
  &__wrapper {
    width: 100%;
  }

  &__box {
    position: relative;
    &:first-child {
      display: flex;
      justify-content: center;
    }
    &:last-child {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 40px 0;
    }
  }

  &__content_preview_title {
    width: fit-content;
    position: relative;
    &__subtitle {
      position: absolute;
      right: 0;
      display: block;
      >* {
        font-family: Poppins !important;
      }
      span {
        color: var(--color-2);
        position: relative;
        font-weight: 700;
      }
    }
    &__title {
      margin: 0;
      span {
        color: var(--color-22);
        line-height: 45px;
        font-size: 36px;
        position: relative;
        &:not(:last-child) {
          padding-left: 4px;
        }
      }
    }
  }

  &__content_title {
    font-size: 40px;
    margin: 0;
    text-align: center;
    span {
      position: relative;
      color: var(--color-39);
    }
  }

  &__content_content {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 400px;
    min-height: 600px;
    min-width: 1100px;
  }

  &__content_left_panel_ingredients,
  &__content_right_panel_ingredients {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      max-width: 210px;
      padding: 10px 0;
      > * {
        font-family: Open-Sans !important;
      }
      img {
        display: block;
        width: 140px;
      }
      span {
        text-align: center;
        font-weight: 600;
      }
    }
  }

  &__content_left_panel_ingredients {
    left: 0px;
    &_box {
      &:first-child {
        transform: translateX(60px);
      }
      &:last-child {
        transform: translateX(60px);
      }
    }
  }
  
  &__content_right_panel_ingredients {
    right: 0px;
    &_box {
      &:first-child {
        transform: translateX(-60px);
      }
      &:last-child {
        transform: translateX(-60px);
      }
    }
  }

  &__content_image {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translateX(-50%);
      width: 340px;
      height: 340px;
      border-radius: 50%;
      filter: blur(10px);
      background-color: var(--color-40);
      box-shadow: 0 0 150px var(--color-41), 0 0 200px var(--color-42);
      z-index: 1;
    }
    img {
      display: block;
      min-width: 300px;
      position: relative;
      z-index: 2;
    }
  }

  &__content_list_svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__item {
      svg {
        display: block;
      }
      &:first-child {
        position: absolute;
        top: 70px;
        left: -50%;
        transform: rotateX(180deg) rotateY(180deg) rotateZ(45deg);
      }
      &:nth-child(2) {
        position: absolute;
        top: 220px;
        left: -50%;
        transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
      }
      &:nth-child(3) {
        position: absolute;
        top: 370px;
        left: -50%;
        transform: rotateX(180deg) rotateY(180deg) rotateZ(-30deg);
      }
      &:nth-child(4) {
        position: absolute;
        top: 70px;
        right: -50%;
        transform: rotateX(0deg) rotateY(0deg) rotateZ(-25deg);
      }
      &:nth-child(5) {
        position: absolute;
        top: 220px;
        right: -50%;
        transform: rotateX(0deg) rotateY(0deg) rotateZ(-0deg);
      }
      &:last-child {
        position: absolute;
        top: 370px;
        right: -50%;
        transform: rotateX(180deg) rotateY(0deg) rotateZ(-30deg);
      }
    }
  }

  .random_vis_item {
    display: block;
  }
}


@media (max-width: 1201px) {

}