.container {

}

.s-1,
.s-2,
.s-3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-1 {
  background-color: royalblue;
}

.s-2 {
  background-color: blueviolet;
}

.s-3 {
  background-color: lawngreen;
}