.navigation-button {
  position: absolute;
  top: 0;
  left: 100px;
  padding: 10px 10px;
  border: none;
  background-color: var(--color-6);
  transition: var(--speed-03);
  border-bottom-right-radius: 8px;
  z-index: 1000;
  cursor: pointer;
  &:hover {
    padding-left: 30px;
    svg {
      left: 10px;
    }
  }
  span {
    position: relative;
    z-index: 2;
    font-size: 16px;
    font-weight: 600;
    font-family: Poppins;
    background-color: var(--color-6);
    color: var(--color-2);
    text-transform: uppercase;
  }
  svg {
    position: absolute;
    left: 20px;
    z-index: 1;
    font-size: 16px;
    transition: var(--speed-05);
    color: var(--color-2);
  }
}

