.home {
  min-height: 100vh;
  &__container {
    padding: 20px 0;
  }
  &__content {
    position: relative;
  }
}

@media (max-width: 960px) {
  .home__content {
    padding: 0;
  }
}

@media (max-width: 415px) {
  .home {
    padding-top: 75px;
    &__container {
      padding: 0 15px !important;
    }
  }
}