@font-face {
  font-family: Montserrat;
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Montserrat-Light.woff2") format('woff2'),
       url("./fonts/Montserrat-Light.woff") format('woff');
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Montserrat-Regular.woff2") format('woff2'),
       url("./fonts/Montserrat-Regular.woff") format('woff');
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Montserrat-Medium.woff2") format('woff2'),
       url("./fonts/Montserrat-Medium.woff") format('woff');
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/Montserrat-SemiBold.woff2") format('woff2'),
       url("./fonts/Montserrat-SemiBold.woff") format('woff');
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Montserrat-ExtraBold.woff2") format('woff2'),
       url("./fonts/Montserrat-ExtraBold.woff2") format('woff');
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Poppins-ExtraLight.woff2") format('woff2'),
       url("./fonts/Poppins-ExtraLight.woff") format('woff');
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Poppins-Regular.woff2") format('woff2'),
       url("./fonts/Poppins-Regular.woff") format('woff');
}


@font-face {
  font-family: Poppins;
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Poppins-Medium.woff2") format('woff2'),
       url("./fonts/Poppins-Medium.woff") format('woff');
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/Poppins-SemiBold.woff2") format('woff2'),
       url("./fonts/Poppins-SemiBold.woff") format('woff');
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Poppins-Bold.woff2") format('woff2'),
       url("./fonts/Poppins-Bold.woff") format('woff');
}

@font-face {
  font-family: Pacifico;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Pacifico-Regular.woff2") format('woff2'),
       url("./fonts/Pacifico-Regular.woff") format('woff');
}

@font-face {
  font-family: Open-Sans;
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/OpenSans-SemiBold.woff2") format('woff2'),
       url("./fonts/OpenSans-SemiBold.woff") format('woff');
}

@font-face {
  font-family: Antic Didone;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/AnticDidone-Regular.woff2") format('woff2'),
       url("./fonts/AnticDidone-Regular.woff") format('woff');
}

@font-face {
  font-family: BlackOpsOne;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/BlackOpsOne-Regular.woff2") format('woff2'),
       url("./fonts/BlackOpsOne-Regular.woff") format('woff');
}