:root {
  --color-1: #F6F6F6;
  --color-2: #323548;
  --color-3: #F2F2F2;
  --color-4: #222222;
  --color-5: #999999;
  --color-6: #AECD31;
  --color-7: #dedede;
  --color-8: #232323;
  --color-9: #88898b;
  --color-10: #FFFFFF;
  --color-11: #7074935c;
  --color-12: #2962fff7;
  --color-13: #2222221a;
  --color-14: #22222226;
  --color-15: #CCCCCC;
  --color-16: #e16e4d;
  --color-17: #406237;
  --color-18: #A5A4A2;
  --color-19: #65805C;
  --color-20: #E7E5E2;
  --color-21: #848382;
  --color-22: #DA4F44;
  --color-26: #F03546;
  --color-27: #DA9991;
  --color-29: #cccccc80;
  --color-30: #cccccc40;
  --color-31: #cccccc1a;
  --color-32: #24211c9b;
  --color-33: #eeba641a;
  --color-34: #a56d139b;
  --color-35: #e236391a;
  --color-36: #df131899;
  --color-37: #FFD6E0;
  --color-38: #FB92B0;
  --color-39: #2E0C11;
  --color-40: #fb92b059;
  --color-41: #fb92b0cc;
  --color-42: #fb92b01a;
  --color-43: rgba(174, 205, 49, 0.3);
  --speed-03: .3s;
  --speed-05: .5s;
  --speed-08: .8s;
}