:root {
  --color-1: #F6F6F6;
  --color-2: #323548;
  --color-3: #F2F2F2;
  --color-4: #222222;
  --color-5: #999999;
  --color-6: #AECD31;
  --color-7: #dedede;
  --color-8: #232323;
  --color-9: #88898b;
  --color-10: #FFFFFF;
  --color-11: #7074935c;
  --color-12: #2962fff7;
  --speed-03: .3s;
  --speed-05: .5s;
  --speed-08: .8s;
}