.nav {
  padding: 10px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 25px;
  &__item {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-transform: uppercase;
    transition: var(--speed-03) ease;
    cursor: pointer;
    color: var(--color-2);
    > * {
      color: var(--color-2);
    }
    svg {
      width: 20px;
      height: 20px;
      transition: var(--speed-03);
    }
    &.open {
      .body_menu {
        top: 100%;
        opacity: 1;
        visibility: visible;
        filter: blur(0);
      }
      svg {
        transform: rotateX(180deg);
      }
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover .menu__link {
      color: var(--color-9);
    }
  }
  &__link {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-transform: uppercase;
    transition: var(--speed-03);
    &::before {
      content: "";
      position: absolute;
      transform: translateY(10px);
      bottom: -5px;
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--color-9);
      opacity: 0;
      visibility: hidden;
      transition: var(--speed-03);
    }
  }
}

.body_menu {
  position: absolute;
  left: -20%;
  top: 200%;
  padding: 10px;
  background-color: var(--color-10);
  border-radius: 5px;
  box-shadow: 0 5px 8px var(--color-7);
  opacity: 0;
  visibility: hidden;
  transition: var(--speed-05);
  z-index: 100;
  filter: blur(4px);
  &__item {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  &__link {
    position: relative;
    font-size: 14px;
    display: block;
    &::before {
      content: "";
      position: absolute;
      transform: translateY(10px);
      bottom: 0px;
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--color-9);
      opacity: 0;
      visibility: hidden;
      transition: var(--speed-03);
    }
  }
}


@media (max-width: 990px) {
  .nav {
    position: fixed;
    inset: 0 0 0 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    &.open {
      pointer-events: auto;
      visibility: visible;
      &::before {
        transform: translate(-50%, -50%) scale(1);
        transition-duration: .7s;
      }
      .menu {
        opacity: 1;
        transition: opacity .4s ease .4s;
      }
    }
    &::before {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      content: "";
      width: 200vh;
      height: 200vh;
      background: rgba(41, 98, 255, 0.97);
      transition: all 0.4s ease;
      backface-visibility: hidden;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding: 50px;
    &__item {
      margin: 0 !important;
      svg {
        color: var(--color-1);
      }
    }
    &__link {
      color: var(--color-1);
      font-size: 25px;
      line-height: 30px;
    }
  }
  .body_menu {
    width: 140%;
  }


}